@font-face {
    font-family: 'Rubik' ;
    font-weight: 400;
    font-style: normal;
    src: local('Rubik-Regular') ,
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    src: local('Rubik-Medium') ,
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik' ;
    font-weight: 400;
    font-style: normal;
    src: local('Rubik-italic') ,
        url('../fonts/Rubik-italic.woff2') format('woff2'),
        url('../fonts/Rubik-italic.woff') format('woff');
    font-display: swap;
}