$accent: #ff6838;
$default: #f9faff;
$title: #31352b;

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}
%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
%rubik-400 {
  font-family: "Rubik-italic", sans-serif;
  font-weight: 400;
}
