@import "vars";
@import "fonts";
@import "reset";
@import "global";

.animation {
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
  &:hover {
    color: $accent;
    text-decoration: none;
  }
  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    color: $accent;
  }
}

.btn {
  background-color: $accent;
  color: #fff;
  width: 146px;
  height: 47px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  padding: 12px 32px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
    color: $accent;
  }
  &:focus {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
  &:active {
    background: rgba(255, 122, 80, 0.1);
    border-radius: 5px;
  }
}

.btn-menu {
  background-color: #fff;
  color: $title;
  border-radius: 5px;
  border: none;
  @extend %rubik-400;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 0px 0px 1px #ececec;
  padding: 13px 32px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  &:focus {
    color: $title;
    background: #ffffff;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
  &:hover {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
  &:active {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
}
.mixitup-control-active {
  background-color: $accent;
  color: #fff;
  border-radius: 5px;
  border: none;
  @extend %rubik-400;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 0px 0px 1px #ececec;
  padding: 13px 32px;
  display: flex;
  align-items: center;
}

.header {
  padding: 60px 0;
  &__logo{
    margin-right: auto;
  }
  &__menu{
    display: flex;
    justify-content: space-between;
    
  }
  
  .menu {
      display: flex;
  
    &-item:not(:last-child) {
      margin-right: 45px;
    }
    &-item:last-child{
      margin-right: 60px;
    }
  
    &-link {
      color: $title;
      text-decoration: none;
      transition: all 0.3s;
      @extend %rubik-400;
      
    }
  
    &-link--active {
      color: $accent;
    }
  }
}
.logo {
  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }
  &:active {
    opacity: 0.5;
  }
  &:hover {
    opacity: 0.8;
  }
}



.user-nav {
  display: flex;

  &__link {
    width: 44px;
    height: 44px;
    background-color: $default;
    // position: relative;
  }

  &__link:not(:last-child) {
    margin-right: 36px;
  }

  &__num {
    // position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $accent;
    top: -2px;
    right: -71px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    height: 14px;
    transform: translateX(-55px);
  }

  &__link {
    &:active {
      border-radius: 5px;
      background: rgba(255, 122, 80, 0.1);
    }
    &:hover {
      background: #ff7a50;
      border-radius: 5px;
      color: #fff;
    }
    &:focus {
      border-radius: 5px;
      background: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }
  }
}
.footer-top {
  padding: 30px 0 70px;
  // border-bottom: 1px solid #c2c2c2;
  display: flex;

  // justify-content: space-between;
  &__form-inner {
    width: 250px;
    margin-right: 70px;
  }
  &__social-img:active {
    border-radius: 50%;
    background: #fff2ed;
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  }
  &__social-img::hover {
    color: #ff7a50;
  }

  &__nav {
    width: 285px;
    margin-right: 70px;
  }

  &__nav2 {
    width: 250px;
    margin-right: 70px;
  }

  &__nav3 {
    width: 360px;
    margin-right: 70px;
  }

  &__contact {
    width: 150px;
    margin-right: 50px;
  }

  &__link {
    flex-direction: column;
    text-decoration: none;
    color: $title;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__form {
    display: block;

    text-align: center;
  }

  &__form-input {
    width: 200px;
    margin-bottom: 12px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    width: 200px;
    height: 44px;

    &::placeholder {
      color: #c2c2c2;
      font-size: 14px;
      padding: 13px 15px;
    }
  }

  &__form-btn {
    display: flex;
    align-items: center;
    background-color: $accent;
    border: none;
    width: 200px;
    height: 44px;
    color: #fff;
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 500;

    line-height: 1.3;
    border-radius: 5px;
  }

  &__btn-img {
    margin-right: 15px;
    margin-left: 25px;
  }

  &__adress,
  &__email,
  &__phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 25px;
    color: $title;
    @extend %rubik-400;
    position: relative;
    text-decoration: none;

    &--location::before {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      background-image: url("../images/location.svg");
      left: -30px;
      top: -1px;
      background-repeat: no-repeat;
    }

    &--calling::after {
      content: "";
      width: 21px;
      height: 21px;
      position: absolute;
      background-image: url("../images/calling.svg");
      left: -30px;
      top: -1px;
      background-repeat: no-repeat;
    }

    &--message::after {
      content: "";
      width: 22px;
      height: 21px;
      position: absolute;
      background-image: url("../images/message.svg");
      left: -30px;
      top: -1px;
      background-repeat: no-repeat;
    }
  }

  &__social-list {
    display: flex;
    margin-top: 20px;
    transform: translateX(-25px);
    justify-content: space-between;
    max-width: 150px;
  }

  &__contact-inner {
    margin-bottom: 20px;
  }
}

.footer-bottom {
  width: 100%;
  text-align: center;
  color: $title;
  font-size: 14px;
  height: 74px;
  border-top: 1px solid rgb(194, 194, 194, 0.2);
  &__text {
    padding-top: 30px;
  }
}

.delivery {
  padding: 0 0 60px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__discount {
    margin-top: 190px;
  }

  &__discount-link {
    margin-left: 35px;
    color: $title;
    text-decoration: underline;
    line-height: 30px;
    font-weight: 400;
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }

  &__title {
    @extend %rubik-500;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 130%;
    max-width: 435px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #363853;
  }

  &__text {
    width: 445px;
    text-align: justify;
    margin-bottom: 20px;
  }

  .subtitle {
    color: $accent;
  }
}

.category {
  padding: 60px 0 60px;
  &__inner {
    text-align: center;

    .title {
      margin-bottom: 60px;
    }
  }
  &__links-link:not(:last-child) {
    margin-right: 20px;
  }
  &__links {
    display: flex;
    // grid-template-columns: repeat(5, 1fr);
    margin-bottom: 20px;
    // align-items: center;
    &-img {
      margin-right: 10px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // height: 645px;
    grid-gap: 30px;
    margin-top: 20px;
    justify-content: space-between;
    &-more {
      display: flex;
      justify-content: center;

      text-decoration: underline;
      margin: 60px auto;
    }
  }

  &__item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #ececec;
    width: 210px;
    // height: 100%;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    transition: box-shadow 0.3s;
    &:hover {
      background: #ffffff;
      box-shadow: 0px 0px 0px 1px #ff6838;
      border-radius: 5px;
    }
    &-text {
      margin-bottom: 28px;
      @extend %rubik-400;
      font-size: 15px;
      color: $title;
    }
    &-btn {
      background-color: $accent;
      color: #fff;
      border: none;
      border-radius: 6px;
      width: 101px;
      height: 32px;
    }
    &-img {
      margin-bottom: 10px;
    }
    &-price {
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      color: #363853;
      margin-bottom: 10px;
      margin-top: auto;
    }
  }
}

@import "media";
